* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bubble > a {
    text-decoration: none;
    background-color: #3777FF;
    padding: 0.5em 1em;
    color: white;
    border-radius: 20px;
    font-weight: bolder;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    background-size: 400% 400%;
    height: 100%;
    width: 100%;      
}

#header-page {
    font-weight: bolder;
}

.all-contents-webpage {
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#img-navbar {
    height: 3em;
    width: 3em;
}

#anchor-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.bubble {
    background-color: #D4E2FF;
    border-radius: 8px;
    border: 2px solid;
    border-color:  #3777FF;    
    height: 250px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.5);
}
.bubble > h4 {
    font-weight: bolder;
}

.bubble-10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.span-corrected {
    font-size: 15px;
    margin: 0;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    right: 5px;
}

.bubble-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bubble-13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bubble-14 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bubble-16 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bubble-17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}